/data/maps/WB_countries_Admin0_10m/
/gcam/exe/main_log
/gcam/exe/debugReference.xml
/gcam/input/climate/
/gcam/input/extra/
/gcam/input/magicc/
/gcam/input/policy/
/gcam/input/gcamdata/chunk-generator/
/gcam/input/gcamdata/data/
/gcam/input/gcamdata/data-raw/
/gcam/input/gcamdata/exec/
/gcam/input/gcamdata/figures/
/gcam/input/gcamdata/man/
/gcam/input/gcamdata/renv/
/gcam/input/gcamdata/tests/
/gcam/input/gcamdata/vignettes/
/gcam/input/gcamdata/inst/extdata/aglu/FAO/
/gcam/input/gcamdata/inst/extdata/aglu/IMAGE/
/gcam/input/gcamdata/inst/extdata/aglu/LDS/
/gcam/input/gcamdata/inst/extdata/aglu/USDA/
/gcam/input/gcamdata/inst/extdata/emissions/CEDS/
/gcam/input/gcamdata/inst/extdata/emissions/EDGAR/
/gcam/input/gcamdata/inst/extdata/emissions/emission_controls/
/gcam/input/gcamdata/inst/extdata/emissions/EPA/
/gcam/input/gcamdata/inst/extdata/emissions/GFED/
/gcam/input/gcamdata/inst/extdata/emissions/mappings/
/gcam/input/gcamdata/inst/extdata/emissions/user_emission_controls/
/gcam/input/gcamdata/inst/extdata/energy/Rt_iron_steel_bilateral_trade.csv
/gcam/input/gcamdata/inst/extdata/energy/GIS/
/gcam/input/gcamdata/inst/extdata/energy/mappings/
/gcam/input/gcamdata/inst/extdata/gcam-usa/
/gcam/input/gcamdata/inst/extdata/mi_headers/
/gcam/input/gcamdata/inst/extdata/socioeconomics/
/gcam/input/gcamdata/inst/extdata/tests/
/gcam/input/gcamdata/inst/extdata/water/
/gcam/output/
.Rproj.user
/gcam/exe/configuration.xml
/gcam/ModelInterface/model_interface.properties
/gcam-sandbox-7_0/
/data-7_0/
/gcam-sandbox/input/gcamdata/.Rhistory
/gcam/input/gcamdata/inst/extdata/aglu/Estimates_of_Fert_Use.txt
data/gcam_out/biochar/1p9/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
data/gcam_out/biochar/2p6/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
data/gcam_out/biochar/3p7/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
data/gcam_out/biochar/4p5/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
data/gcam_out/biochar/6p0/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
data/gcam_out/biochar/1p9/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
data/gcam_out/biochar/2p6/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
data/gcam_out/biochar/3p7/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
data/gcam_out/biochar/4p5/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
data/gcam_out/biochar/6p0/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
data/gcam_out/biochar/1p9/released/nonCO2_emissions_by_tech_excluding_resource_production.csv
data/gcam_out/biochar/2p6/released/nonCO2_emissions_by_tech_excluding_resource_production.csv
data/gcam_out/biochar/3p7/released/nonCO2_emissions_by_tech_excluding_resource_production.csv
data/gcam_out/biochar/4p5/released/nonCO2_emissions_by_tech_excluding_resource_production.csv
data/gcam_out/biochar/6p0/released/nonCO2_emissions_by_tech_excluding_resource_production.csv
data/gcam_out/biochar/1p9/test/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
data/gcam_out/biochar/2p6/test/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
data/gcam_out/biochar/3p7/test/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
data/gcam_out/biochar/4p5/test/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
data/gcam_out/biochar/6p0/test/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
data/gcam_out/biochar/1p9/test/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
data/gcam_out/biochar/2p6/test/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
data/gcam_out/biochar/3p7/test/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
data/gcam_out/biochar/4p5/test/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
data/gcam_out/biochar/6p0/test/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
data/gcam_out/biochar/6p0/ref.csv
data/gcam_out/biochar/4p5/ref.csv
data/gcam_out/biochar/3p7/ref.csv
data/gcam_out/biochar/2p6/ref.csv
data/gcam_out/biochar/1p9/ref.csv
data/gcam_out/test/2p6/ref.csv
data/gcam_out/test/4p5/ref.csv
data/gcam_out/test/6p0/ref.csv
data/gcam_out/released/2p6/ref.csv
data/gcam_out/released/6p0/ref.csv
/gcam/input/biochar_land_R/.Rhistory
/data/gcam_out/test/6p0/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/test/6p0/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/released/6p0/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/released/6p0/original/land_leaf_shares.csv
/data/gcam_out/BiocharYieldHigh/6p0/ref.csv
/data/gcam_out/default/6p0/ref.csv
/data/gcam_out/BiocharYieldHigh/6p0/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/BiocharYieldHigh/6p0/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/default/6p0/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/default/6p0/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/CostHigh/6p0/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/CostHigh/6p0/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
/gcam/input/biochar_land_R/sensitivity_analysis/.Rhistory
/gcam/input/biochar_land_R/~$GCAM_parameters.xlsx
/data/gcam_out/BiocharYieldLow/6p0/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/BiocharYieldLow/6p0/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/CostLow/6p0/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/CostLow/6p0/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/BiocharYieldLow/6p0/ref.csv
/data/gcam_out/CostLow/6p0/ref.csv
/data/gcam_out/HighBiocharNutrients/baseline/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/Baseline/baseline/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/Baseline/baseline/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/HighBiocharCost/baseline/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/HighBiocharCost/baseline/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/HighBiocharNutrients/baseline/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/HighBiocharYield/baseline/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/HighBiocharYield/baseline/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/LowBiocharCost/baseline/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/LowBiocharCost/baseline/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/LowBiocharYield/baseline/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/LowBiocharYield/baseline/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/released/baseline/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/Baseline/baseline/ref.csv
/data/gcam_out/HighBiocharCost/baseline/ref.csv
/data/gcam_out/HighBiocharNutrients/baseline/ref.csv
/data/gcam_out/HighBiocharYield/baseline/ref.csv
/data/gcam_out/LowBiocharCost/baseline/ref.csv
/data/gcam_out/LowBiocharNutrients/baseline/ref.csv
/data/gcam_out/LowBiocharYield/baseline/ref.csv
/data/gcam_out/released/baseline/ref.csv
/data/gcam_out/HighCropYield/baseline/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/HighCropYield/baseline/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/HighGCAMLandShare/baseline/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/HighGCAMLandShare/baseline/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/HighGCAMManurePrice/baseline/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/HighGCAMManurePrice/baseline/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/LowBiocharNutrients/baseline/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/LowBiocharNutrients/baseline/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/LowCropYield/baseline/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/LowCropYield/baseline/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/LowGCAMLandShare/baseline/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/LowGCAMLandShare/baseline/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/LowGCAMManurePrice/baseline/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/LowGCAMManurePrice/baseline/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/HighCropYield/baseline/ref.csv
/data/gcam_out/HighGCAMLandShare/baseline/ref.csv
/data/gcam_out/HighGCAMManurePrice/baseline/ref.csv
/data/gcam_out/LowCropYield/baseline/ref.csv
/data/gcam_out/LowGCAMLandShare/baseline/ref.csv
/data/gcam_out/LowGCAMManurePrice/baseline/ref.csv
/data/gcam_out/HighBiocharNUE/baseline/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/HighBiocharNUE/baseline/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/HighBiocharSoilN2O/baseline/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/HighBiocharSoilN2O/baseline/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/LowBiocharNUE/baseline/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/LowBiocharNUE/baseline/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/LowBiocharSoilN2O/baseline/masked/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/LowBiocharSoilN2O/baseline/original/nonCO2_emissions_by_tech_excluding_resource_production.csv
/data/gcam_out/HighBiocharNUE/baseline/ref.csv
/data/gcam_out/HighBiocharSoilN2O/baseline/ref.csv
/data/gcam_out/LowBiocharNUE/baseline/ref.csv
/data/gcam_out/LowBiocharSoilN2O/baseline/ref.csv
/data/data_analysis/~$figure_drwagin.pptx
gcam/input/biochar_land_R/~$plant_costs.xlsx
data/data_analysis/~$pyrolysis_energy_balance.xlsx
